@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Uncial+Antiqua&display=swap');

/* Added a root for colours so if we tweak or change the main colours later it will up date all of them */
:root {
    --main-green: #009e69;
    --main-green-dark: #048158;
    --main-orange: #ffa500;

}
* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
width: auto;
height: auto;
}



body{ 
    min-height: 100vh;
  min-width: 100vw;
    background-color: #FCFCFC;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
 
}

.navbar {
    background-color: var(--main-green);
    position: relative;
}

.navbar-brand {
    margin-left: 10px;
    color: var(--main-orange);
    font-size: 1.5rem;
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    letter-spacing: 1.2px;
    
}

.navbar-nav  .nav li {
    margin-right: 20px;
    color: var(--main-orange);
    display: inline;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav li a{
     color: var(--main-orange);
     list-style: none;
     text-decoration: none;
     font-size: 1.1rem;
     letter-spacing: 1px;
     font-weight: 500;
     margin-right: 25px;
}

.navbar-nav .nav-item {
    margin-top: 5px;
}

.navbar-nav li:hover {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-toggler {
    right: 15px;
    margin: 0 auto;
    position: fixed;
   
}

.navbar-toggler .icon-bar{
    background-color:red;
    width: 10px;
}

.page-footer{
    background-color: var(--main-green);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-text {
    margin-left: 20px;
    flex-direction: column;
    float: left;
}

.footer-text .text{
    color: var(--main-orange);
    font-size: 1.5rem;
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    letter-spacing: 1.2px;
}

.social-icons {
    float: right;
}

.social-icons a img{
    width: 40px;
    margin-right: 25px;
}

/*-----Home PAge -------------*/
.text-wrapper{
        display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.btn-joke,
.btn-video{
    background-color: var(--main-green);
    color: var(--main-orange);
    margin: 50px;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(48, 47, 47, 0.5);
}

.btn-joke:hover,
.btn-video:hover {
    text-transform: uppercase;
    color: var(--main-orange);
}
/* carousel */ 
 .carousel-wrapper{
   
    max-width: 600px;

}
.carousel {
    
    line-height: 2rem;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-green);
    color:var(--main-orange) ;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.carousel-item{
   width: 100%;
    height: 100%;
    margin: 5px auto;
}

.joke-slide {
    margin: 40px;
}

/*---- log in and register form ----*/
.login-reg-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../static/images/login-reg-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.log-reg-section {
    padding: 1.5rem 2rem;
    background-color: rgba(255, 253, 253, 0.904);
    border-radius: .5rem;
    border: 1px solid var(--main-orange);
    width: 90%;
    box-shadow: .1rem .3rem .5rem rgba(44, 44, 44, 0.356);
    margin: 0 auto;
}

.log-reg-leprechaun-with-beer-mobile {
    width: 10rem;
    margin: 0 auto;
}

 .log-reg-leprechaun-with-beer,
.leprachaun-login-reg,
.log-reg-leprechaun-with-beer-register {
    display: none;
}

.log-reg-heading {
    padding: 1.25rem;
    text-align: center;
    color: var(--main-green);
    font-weight: bold;
    font-family: 'Uncial Antiqua', Arial, sans-serif;
}

.login-form,
.register-form {
    padding-top: 5px;
    margin:0 auto;
    max-width: 100%; 
}

.login-btn,
.register-btn,
.login-btn:focus,
.register-btn:focus {
    color: #fff;
    text-shadow: 4px 2px 10px var(--main-orange);
    background-color: var(--main-green);
    text-transform: uppercase;
    font-size: 1.3rem;
    outline: none;
    box-shadow: none;
    transition: all .2s;
}

.login-btn:hover,
.register-btn:hover{
    color: var(--main-orange);
    background-color: var(--main-green-dark);
}

.log-reg-small-link:link,
.log-reg-small-link:visited {
    color: rgb(41, 41, 41);
    transition: all .2s;
}

.log-reg-small-link:hover {
    text-decoration: none;
    color: var(--main-green);
}

.login-icon,
.register-icon {
    color: var(--main-orange);
    background-color: var(--main-green);
    font-size: 16px;  
}

.text-red {
    color: #d61313;
}

/* -- Upload pages -- */

textarea.form-control {
    width: 60%;
    height: 60%;
    border: var(--main-orange) solid 0.3px;
    border-radius: 2%;
    margin: 2%;
    margin-left:0;
    display: block;
}

div.card{
    margin: 1%;
    border: var(--main-orange) solid 0.5px;
    border-radius: 3%;
    padding: 0.5%;
}

div.card.jokes{
    padding: 4%;
}

.col-md-3 {
    padding:0;
}

img {
    width: 100%;
    border-radius: 3%;
}

video {
    width: 100%;
    border-radius: 3%
}

.upload-content {
    padding: 1%;
    margin: 2%;
}

h3.uploads {
    margin: 40px;
    
  
}

.uploads-text{
     font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
}
h1.uploads{
    color: var(--main-green);
    font-weight: bold;
    margin: 40px;
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    letter-spacing: 1.2px;
}

.upload-form {
    margin: 40px;
}

textarea.form-control {
    width: 100%;
}

.form-label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.btn-uploads{
    background-color: var(--main-green);
    color: var(--main-orange);
    box-shadow: -2px -2px 10px rgb(255 255 255 / 50%), 5px 5px 10px rgb(48 47 47 / 50%);

}
/* ---- Jokes Page ---- */

.jokes-header{ 
    margin: 20px;
}
div.card {
    width: 100%;
    margin: 20px;
}

.likes-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.score {
        padding-left: 15px;
        font-size: 30px;
        color: #000;
}

i.rating {
    color: var(--main-green);
    font-size: 24px;
    margin: 5%;
}

/* ---- Profile Page ---- */
.profile_image {
    width: 10rem;
    border-radius: 30rem;
    display: block;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}

.image-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info-container,
.jokes-videos-container {
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid var(--main-orange);
}

.link-tab-profile {
    border: 1px solid var(--main-orange) !important;
    border-bottom: none !important;
}

.profile-main-heading {
    text-transform: uppercase;
    font-family: 'Uncial Antiqua', sans-serif;
}

.icon-large {
    font-size: 2.5rem;
}

.icon-green {
    color: var(--main-green);
}

.profile-subheading  {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: rgb(34, 34, 34);
    font-family: Open+Sans, sans-serif;
}

.edit-image-link:link,
.edit-image-link:visited{
    color: rgb(80, 79, 79);
    font-size: .9rem;
    text-align: center;
}

.edit-image-link:hover{
    color: rgb(27, 27, 27);
    text-decoration: none;
}

.username,
.icon-joke-and-video {
    color: var(--main-orange);
}

.icon-joke-and-video {
    text-shadow: 0 1px 1px rgba(2, 2, 2, 0.308);
}

.username-container {
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

.icon-small {
    font-size: 1.1rem;
}

.btn-change-password,
.btn-change-password:focus,
.btn-change-password:active,
.btn-delete-account,
.btn-form,
.btn-change-password:visited {
    color: #fff;
    text-shadow: 0 1px 1px #000;
    transition: all .2s;
    outline: none;
    box-shadow: none;
}

.btn-change-password:hover,
.btn-delete-account:hover {
    text-decoration: none;
}

.btn-change-password,
.btn-form {
   background-color: var(--main-green-dark); 
}

.btn-change-password:hover,
.btn-form:hover {
    background-color:  var(--main-green); 
}

.btn-delete-account,
.btn-delete-account:active,
 .btn-delete-account:focus{
    background-color: #b80808;
    outline: none;
    box-shadow: none;
}

.btn-delete-account:hover {
    background-color:  #d80808; 
}

#jokes-tab:link,
#jokes-tab:visited,
#videos-tab:link,
#videos-tab:visited {
    color: rgb(34, 34, 34);
}

.profile-tabs {
    border-bottom: none;
}

@media (min-width: 426px) { 
    
.page-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
}

/*  Change username page */

.change-username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../static/images/profile-forms-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.change-username-section {
    padding: 1.5rem 2rem;
    background-color: rgba(255, 253, 253, 0.904);
    border-radius: .5rem;
}

.change-username-heading {
    text-transform: uppercase;
    font-size: 2.1rem;
}

.icon-shamrock-profile {
    width: 2.8rem;
}

.icon-shamrock-change {
    width: 2.2rem;
}


@media (min-width: 426px) { 
    .page-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .profile-subheading  {
        font-size: 1.7rem;

    }
}

/* Media query for medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .log-reg-section {
        padding: 1.5rem 2rem;
        width: 50%;
        left: 25%;
        margin: 0;
    }

    .leprachaun-login-reg {
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        width: 10rem;
    }

    .log-reg-leprechaun-with-beer {
        display: none;
    }

    .log-reg-section {
        position: absolute;
    }
}

/*Media query for large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .log-reg-section {
        padding: 1.5rem 2rem;
        width: 40%;
        left: 30%;
    }
    
    .carousel-item{
    width: 80%;
        
        }
    textarea.form-control {
    width: 85%;
}
}

/*Media query for largest devices (desktops, 1900px and up)*/
@media (min-width: 1900px) {
    .container {
        max-width: 90rem !important;
        font-size: 1.1rem;
    }

    .log-reg-section {
        padding: 1.5rem 2rem;
        width: 30%;
        left: 35%;
    }

    .log-reg-leprechaun-with-beer {
        display: block;
        position: absolute;
        top: 2.5rem;
        left: 38rem;
        width: 20rem;
    }

    .log-reg-leprechaun-with-beer-register {
        display: block;
        position: absolute;
        top: .8rem;
        left: 38rem;
        width: 20rem;
    }
}