<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/clover.png') }}" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="fixed-top top-nav">
            <nav class="navbar navbar-expand-md navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand logo-link" href="{{url_for('homepage')}}">
                        <div class="logo"> Double&nbsp;Shamrock</div> 
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars bar-icon"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto float-left text-left pl-3">
                        <li class="nav-item"><a href="{{url_for('homepage')}}"><i class="fas fa-home mr-1 d-inline d-md-none d-lg-inline"></i>Home</a></li>
                        <li class="nav-item"><a href="{{url_for('jokes')}}"><i class="far fa-laugh-beam mr-1 d-inline d-md-none d-lg-inline"></i>Jokes</a></li>
                        <li class="nav-item"><a href="{{url_for('videos')}}"><i class="fas fa-film mr-1 d-inline d-md-none d-lg-inline"></i>Videos</a></li>
                        {% if session.username %}
                        <li class="nav-item  dropdown">
                                <a href="{{url_for('profile', username=session['username']) }}"
                                    class="dropdown-toggle pr-4" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user mr-1 d-inline d-md-none d-lg-inline"></i>Profile
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a href="{{url_for('upload_jokes', username=session['username'])}}" 
                                        class="dropdown-item dropdown-item-profile">
                                         <i class="fas fa-plus mr-1 d-inline d-md-none d-lg-inline"></i>New Joke
                                     </a>
                                    <a href="{{url_for('upload_video', username=session['username'])}}"
                                        class="dropdown-item dropdown-item-profile">
                                        <i class="far fa-file-video mr-1 d-inline d-md-none d-lg-inline"></i>New Video
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item dropdown-item-profile" href="{{ url_for('logout') }}">
                                        <i class="fas fa-sign-out-alt mr-1 d-inline d-md-none d-lg-inline"></i>Log Out
                                    </a>
                                </div>
                        </li>
                        {% else %}
                        <li class="nav-item"><a href="{{url_for('login')}}"><i class="fas fa-sign-in-alt mr-1 d-inline d-md-none d-lg-inline"></i>Log In</a></li>
                        <li class="nav-item"><a href="{{url_for('register')}}"><i class="fas fa-user-plus mr-1 d-inline d-md-none d-lg-inline"></i>Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
  
    <footer>
        <div class="row">
            <div class="col-12 page-footer">
                <div class="footer-text">
                    <h5 class="text">The Double Shamrock</h5>
                    <p class=""></p>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank"><img src="/static/images/facebook.png"
                            alt="facebook icon"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="/static/images/instagram.png"
                            alt="instagram icon"></a>
                    <a href="https://twitter.com/?lang=en-gb" target="_blank"><img src="/static/images/twitter.png"
                            alt="twitter icon"></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>

</html>