{% extends 'base.html' %} 
{% block title %}Change username {% endblock %}
{% block content %}
<div class="change-username-container">
    <section class="change-username-section  text-center">
    <h1 class="change-username-heading">Change password</h1>
    <img src="../static/images/clover.png" alt="Clover icon"
            class="icon-shamrock-change mt-3">
    <div class="row mt-3  text-left">
        <form method="POST" action="" autocomplete="off" class="col-12 my-3">
            {{ form.hidden_tag() }}
            <div class="form-group">
                 <!--Old password-->
                <label for="old_password">Old Password</label>
                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                     {{ form.old_password(placeholder="Enter current password", id="old_password", class="form-control") }}
                </div>
                <!--New password-->
                 <label for="new_password">New Password</label>
                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {{ form.new_password(placeholder="Enter new password", id="new_password", class="form-control") }}
                    {% for error in form.new_password.errors %}
                    <small class="text-red">{{ error }}</small>
                    {% endfor %}
                </div>

                <!--Confirm New password-->
                <label for="confirm_new_password">Confirm New Password</label>
                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {{ form.confirm_new_password(placeholder="Confirm new password", id="confirm_new_password", class="form-control") }} 
                    {% for error in form.confirm_new_password.errors %}
                    <small class="text-red">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
                <div class="row d-flex justify-content-around mt-3">
                    <div>
                        <a
                        href="{{ url_for('profile', username = session.username) }}"
                        class="btn btn-secondary"
                        name="action"
                        >
                        Cancel
                        </a>
                    </div>
                    <div>
                    {{ form.submit(class="btn btn-form") }}
                    </div>
                </div>
        </form>
    </div>
    </section>
</div>
{% endblock %}