{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="bg-img">
                <img src="/static/images/bgimg.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="col-md-7 text-wrapper text-center">

            <h1 class="hero-text text-center">Instant Irish – Just Add a Joke</h1>
            <div class="buttons">
                <a href="{{url_for('jokes') }}" class="btn btn-lg btn-joke active" role="button"
                    aria-pressed="true">Jokes</a>
                <a href="{{url_for('videos') }}" class="btn btn-lg btn-video active" role="button"
                    aria-pressed="true">Videos</a>
            </div>
            <div class="video-wrapper">
                 
                <iframe width="400" height="315" src="https://www.youtube.com/embed/zZEMyPaAPlY"
                 frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture" allowfullscreen></iframe>
               
                
            </div>
        </div>
    </div>
</div>
{% endblock %}