{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}

<div class="container-fluid">
    <h3 class="jokes-header text-center">Jokes</h3>

    <div class="row justify-content-center">
        {% for joke in jokes %}

            {% if loop.index % 2 != 0 %}
                <div class="row">
                    <div class="col-md-4 ">
                        <img src="{{ url_for('static', filename='images/leprechaun_popping_out.jpg') }}" alt=""
                            class="image-responsive">
                    </div>
                    <div class="col-sm-12 col-md-6 ">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ joke.joke }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2 likes-wrapper">
                        <a href="{{ url_for('joke_like', joke_id=joke._id) }}" class="like-score"><i
                                class="rating fas fa-thumbs-up"></i>
                                <span class="score-likes">{{ joke.likes }}</span></a>
                        <a href="{{ url_for('joke_dislike', joke_id=joke._id) }}" class="dislike-score"><i
                                class="rating fas fa-thumbs-down"></i>
                                <span class="score-dislikes">{{ joke.dislikes }}</span></a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ joke.joke }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <img src="{{ url_for('static', filename='images/leprachaun_floating.png') }}" alt="" class="image-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2 likes-wrapper">
                        <a href="{{ url_for('joke_like', joke_id=joke._id) }}" class="like-score"><i
                                class="rating fas fa-thumbs-up"></i>
                                <span class="score-likes">{{ joke.likes }}</span></a>
                        <a href="{{ url_for('joke_dislike', joke_id=joke._id) }}" class="dislike-score"><i
                                class="rating fas fa-thumbs-down"></i>
                                <span class="score-dislikes">{{ joke.dislikes }}</span></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}