{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}

    <!-- <h1 class="text-center" style="display: none;">Double Shamrock Rules</h1> -->
    <div class="container-fluid jokes-container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="text-center">Jokes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                {% for joke in jokes %}
                <div class="card">
                    <div class="card-body">
                        <p>{{ joke.joke }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 like-score">
                <a href="{{ url_for('joke_like', joke_id=joke_id) }}"><i class="rating fas fa-thumbs-up"></i>
                    <span class="score">{{ joke.likes }}</span></a>
            </div>
            <div class="col-md-2 col-sm-6 dislike-score">
                <a href="{{ url_for('joke_dislike', joke_id=joke_id) }}"><i class="rating fas fa-thumbs-down"></i>
                    <span class="score">{{ joke.dislikes }}</span></a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}