{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
<div class="login-reg-container">
    <img src="../static/images/leprachaun-login-reg.png" 
        alt="leprachaun" 
        class="leprachaun-login-reg">
    <img src="../static/images/leprechaun-with-beer.jpg" alt="leprechaun-with-beer" 
        class="log-reg-leprechaun-with-beer">
    <div class="log-reg-section">
        <img src="../static/images/leprechaun-with-beer.jpg" alt="leprechaun-with-beer"
                    class="log-reg-leprechaun-with-beer-mobile d-block d-lg-none">
        <h1 class="log-reg-heading">Log In</h1>
        <div class="row ">
            <form class="login-form" method="POST" action="">
                {{ form.hidden_tag() }}
                <!-- username -->
                <div class="input-group mb-3">
                    <span class="input-group-text login-icon"><i class="fas fa-user-cog"></i></span>
                        {{ form.username(class="form-control", placeholder="Username") }} 
                        {% for error in form.username.errors %}
                            <small class="text-red">{{ error }}</small>
                        {% endfor %}
                </div>
                <!-- password -->
                <div class="input-group mb-3">
                    <span class="input-group-text login-icon"><i class="fas fa-user-lock"></i></span>
                    {{ form.password (class="form-control", placeholder="Password") }} 
                </div>
                    {% for error in form.password.errors %}
                    <small class="text-red">{{ error }}</small>
                    {% endfor %}
                    <div class="text-center mt-2">
                        {% with messages = get_flashed_messages() %} 
                            {% if messages %} 
                                {% for message in messages %}
                                    <small class="text-red">
                                    {{ message }}
                                    </small>
                                {% endfor %} 
                            {% endif %} 
                        {% endwith %}
                    </div>
                    <!-- Login button -->
                    {{ form.submit(class="col-12 mt-4 btn login-btn") }}
                
                <div class="text-center mt-2">
                    <small>Don't have an acoount?
                        <a href="{{url_for('register')}}" class="log-reg-small-link">Create one!</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}