{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
    <h1 class="text-center">Double Shamrock rules</h1>
    <h3 class="text-center">Log In</h3>
    <div class="row justify-content-center">
        <form class="col col-sm-12 login-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="card">
                <div class="card-body">
                    <!-- username -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text login-icon"><i class="fas fa-user-cog"></i></span>
                                    {{ form.username(class="form-control", placeholder="Username") }} 
                                    {% for error in form.username.errors %}
                                        <small class="text-red">{{ error }}</small>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text login-icon"><i class="fas fa-user-lock"></i></span>
                                {{ form.password (class="form-control", placeholder="Password") }} 
                                {% for error in form.password.errors %}
                                <small class="text-red">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Login button -->
                        {{ form.submit(class="col col-sm-12 btn login-btn") }}
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}