{% extends "base.html" %}
{% block title %}My Profile {% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <h1 class="profile-main-heading pb-3">{{ username }}'s profile</h1>
    <i class="fab fa-pagelines icon-green icon-large"></i>
</div>

<!--User profile avatar-->
  <div class="row my-3">
    <div class="col-12 col-lg-4 personal-info-container">
        <div class="image-profile-container">
            <h2 class="profile-subheading mb-4">
                <i class="fas fa-user-cog mr-2"></i>Personal&nbsp;Settings
            </h2>
            <div class="d-flex justify-content-center flex-column">
                <img id="user_profile_image"
                    src="{{ image }}"
                    class="responsive-img profile_image" alt="Profile Image"/>
                <a href="#" class="edit-image-link mt-2">
                    <i class="fas fa-edit mr-1"></i>&nbsp;Edit an image
                </a>
            </div>
        </div>
        <div class="username-container my-3">
            <p>Username:<span class="username mx-2"> {{ username }}</span>
                <a href="#"><i class="fas fa-edit icon-green icon-small"></i></a>
            </p>
        </div>
    </div>

    <div class="col-12 col-lg-8">

    </div>
  </div>

{% endblock %}