{% extends "base.html" %}
{% block title %}My Profile {% endblock %}

{% block content %}
<div class="container">
    <div class="my-5 text-center">
        <h1 class="profile-main-heading pb-3">{{ username }}'s profile</h1>
        <img src="../static/images/clover.png" alt="Clover icon" class="icon-shamrock-profile">
    </div>

    <!--User profile avatar-->
    <div class="row my-5 px-1">
        <div class="col-12 col-lg-5" >
            <div class="personal-info-container mb-4">
                <div class="image-profile-container">
                    <h2 class="profile-subheading mb-4">
                        <i class="fas fa-user-cog mr-1"></i>&nbsp;My&nbsp;Settings
                    </h2>
                    <div class="d-flex justify-content-center flex-column">
                        {% if image %}
                        <img id="user_profile_image"
                            src="{{ image }}"
                            class="responsive-img profile_image" alt="Profile Image"/>
                            <!-- adding if statement only if signed in as user -->
                            {% if user == username %} 
                            <button type="button" data-toggle="modal" 
                                data-target="#uploadImageModal" class="edit-image-link mt-2">
                                <i class="fas fa-edit mr-1"></i>&nbsp;Edit an image
                            </button>
                            {% endif%}
                            <!-- end if  -->
                        {% else %}
                        <img src="{{ url_for('static', filename='images/profile_image_placeholder.png') }}"
                            class="responsive-img profile_image" alt="Profile Image" />
                            <!-- adding if statement only if signed in as user -->
                            {% if user == username %} 
                                <button type="button" data-toggle="modal" 
                                data-target="#uploadImageModal" class="edit-image-link mt-2">
                                <i class="fas fa-edit mr-1"></i>&nbsp;Upload an image
                            </button>
                            {% endif %}
                            <!-- endif -->
                        {% endif %}
                    </div>
                </div>
                <div class="username-container my-3">
                    <p>Username:<span class="username mx-2"> {{ username }}</span>
                        <!-- adding if statement only if signed in as user -->
                    {% if user == username %} 
                        <a href="{{ url_for('change_username', username = session.username) }}"
                            title="Edit username"><i class="fas fa-edit icon-green icon-small"></i>
                        </a>
                    </p>
                </div>
                <div class="d-flex justify-content-center flex-column flex-md-row">
                    <a href="{{ url_for('change_password', username = session.username) }}" 
                        class="btn btn-change-password mr-md-1 mb-2">
                    <i class="fas fa-lock"></i> Change&nbsp;password
                    </a>
                    <button type="button"
                        class="btn btn-delete-account mb-2"
                        data-toggle="modal" 
                        data-target="#deleteModal">
                    <i class="fas fa-trash-alt"></i> Delete&nbsp;account
                    </button>
                    {% endif %}
                    <!-- endif -->
                </div>
            </div>
        </div>
        <!--My Jokes and My Videos-->
        <div class="col-12 col-lg-7 pl-lg-5 mb-4">
            <ul class="nav nav-tabs profile-tabs text-center d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link link-tab-profile profile-subheading active" id="jokes-tab" data-toggle="tab"
                        href="#jokes" role="tab" aria-controls="jokes" aria-selected="true">
                        <i class="far fa-laugh-beam icon-joke-and-video d-none d-md-inline"></i>&nbsp;My jokes
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link link-tab-profile profile-subheading" id="videos-tab" data-toggle="tab"
                        href="#videos" role="tab" aria-controls="videos" aria-selected="false">
                        <i class="fas fa-video icon-joke-and-video d-none d-md-inline"></i>&nbsp;My videos
                    </a>
                </li>
            </ul>
            <div class="tab-content jokes-videos-container" id="myTabContent">
                <div class="tab-pane fade show active" id="jokes" role="tabpanel" aria-labelledby="jokes-tab">
                    {% for joke in my_jokes %} 
                    <div class="d-flex justify-content-between mt-2">
                        <p>
                            <i class="fas fa-quote-left icon-green pr-1"></i>
                            {{ joke.joke }}
                            <i class="fas fa-quote-right  icon-green pl-1"></i>
                        </p>
                            {% if session.username == username %}
                            <!--Edit joke button-->
                                <a href="{{ url_for('edit_joke', joke_id=joke._id) }}" title="Edit a joke" class="mr-2"> 
                                    <i class="fas fa-edit text-info"></i>
                                </a> 
                            {% endif %}
                             <!--Delete joke button-->
                                
                                <a href="{{ url_for('delete_joke', joke_id=joke._id) }}"
                                    class="delete-resource-button"
                                     title="Delete a joke">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                </a>
                            </div>
                    </div>
                        <!--Likes and dislikes-->
                        <div class="d-flex justify-content-end">
                            <p class="mr-3"><i class="far fa-thumbs-up"></i> {{ joke.likes }} likes</p>
                            <p><i class="far fa-thumbs-down"></i> {{ joke.dislikes }} dislikes </p>
                        </div>
                         <!--Date added-->
                        <div class="text-right">
                            <small class="text-muted"> {{ joke.date }}</small>
                    </div>
                    <div class="d-flex justify-content-center">
                        <hr class="w-25">
                    </div>
                    {% else %}
                    <!-- Added the if statements -->
                        {% if user == username %}
                            <h5 class="mt-3 text-center">
                                Looks like you haven't added any jokes yet. <br/>
                                Click on the button below to get started!
                                <i class="far fa-laugh-wink "></i>
                            </h5>
                        {% else %}
                        <h5 class="mt-3 text-center">
                            Looks like {{username}} hasn't added any jokes yet. <br/>
                            Click on the button below to get started!
                            <i class="far fa-laugh-wink "></i>
                        </h5>
                        {% endif %}
                        <!-- ending if  -->
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                     <!--Adding if   -->
                    {% if user == username %}
                        <h5 class="mt-3 text-center">
                            Looks like you haven't uploaded any videos yet. <br/>
                            Click on the button below to get started!
                            <i class="far fa-laugh-wink "></i>
                        </h5>
                    {% else %}
                        <h5 class="mt-3 text-center">
                            Looks like {{username}} hasn't added any jokes yet. <br/>
                            Click on the button below to get started!
                            <i class="far fa-laugh-wink "></i>
                        </h5>
                    {% endif %}
                    <!-- ending if -->
                </div>
            </div>
            <!-- Adding if statement -->
            {% if user == username %}
            <div class="d-flex justify-content-center flex-column flex-md-row my-4">
                <a href="{{url_for('upload_jokes', username = session.username)}}" 
                    class="btn add-joke mr-md-1 mb-2">
                <i class="fas fa-plus-circle mr-1"></i>Add&nbsp;new&nbsp;joke
                </a>
                <a href="{{url_for('upload_video', username = session.username)}}"
                    class="btn add-video mb-2">
                <i class="fas fa-file-video"></i> Add&nbsp;new&nbsp;video
            </a>
            </div>
            {% endif %}
            <!-- End if  -->
        </div>
    </div>
</div>


{% include "includes/delete_account.html" %} 
{% include "includes/upload_image.html" %} 

{% endblock %}