{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}

    <h1 class="text-center" style="display: none;">Double Shamrock rules</h1>
    <h3 class="text-center">Register</h3>
    <div class="row justify-content-center">
        <form class="col-md-8 col-md-offset-2 col-sm-12 register-form" method="POST" action="{{ url_for('login') }}">
            <div class="card">
                <div class="card-body">
                    <!-- username -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text register-icon"><i class="fas fa-user-cog"></i></span>
                                <input type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control"
                                placeholder="username" aria-label="username" name="username" required>
                            </div>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text register-icon"><i class="fas fa-user-lock"></i></span>
                                <input type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="password" aria-label="password" name="password" required>
                            </div>
                        </div>
                    </div>
                    <!-- confirm password -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text register-icon"><i class="fas fa-user-lock"></i></span>
                                <input type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="confirm-password" aria-label="confirm-password" name="confirm-password" required>
                            </div>
                        </div>
                    </div>
                    <!-- register -->
                    <div class="row">
                        <button type="submit" class="col col-sm-12 btn register-btn">
                            Register<i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}