{% extends "base.html" %}
{% block title %}Add Joke{% endblock %}

{% block content %}
<div class="upload_page">
    <div class="upload_head">
        <h1 class="uploads upload_heading">Double Shamrock Jokes</h1>
        {% if user == username %}
        <p class="uploads-text ">Just how bad are your jokes? Make someone laugh <em>or cry</em> this St Patricks Day
        </p>
    </div>
<div class="row">
    <div class="col-12">       
        <h3 class="uploads">Upload New Joke</h3>
        <form class="upload_form" action="{{ url_for('upload_jokes', username=username)}}" method="POST" >
            <div class=" mb-3 ">
                <label for="user_jokes" class="form-label">Add a new Joke</label>
                <textarea id="user_jokes" class="form-control" type="text" name="user_jokes" min-length="5"
                    maxlength="500" placeholder="Insert joke......." required></textarea>
            </div>
            <button class="btn-video btn btn-large upload-btn" type="submit">Upload</button>
        </form>
    </div>
</div>
<hr>
<div class="upload-content">
    <div class="row">
        {% for joke in my_jokes  %}
        <div class="col-md-4">
            <div class="card jokes">
                <p>{{joke.joke}}</p>
                <p><em>by {{joke.author}}</em></p>
                <p>{{joke.date}}</p>
                <div class="card-body">
                    <a href="#" class="card-link">LIKE</a>
                    <a href="#" class="card-link">Comment?</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<p>Leprecorn is not happy! You can't add a video here, go to your own profile!</p>
<p><a href="{{url_for('profile', username=username )}}">Back to {{username}} Profile</a></p>
{% endif %}
</div>
{% endblock %}