{% extends "base.html" %}
{% block title %}Upload Jokes{% endblock %}

{% block content %}
<h1 class="uploads">Double Shamrock Jokes</h1>
<p>Just how bad are your jokes? Make someone laugh <em>or cry</em> this St Patricks Day</p>

{% if session.user == username %}
<h3 class="uploads">Upload New Joke</h3>
<form action="{{ url_for('upload_jokes')}}" method="POST">
    <div class=" mb-3 ">
        <label for="user_jokes" class="form-label">Add a new Joke</label>
        <textarea id="user_jokes" class="form-control" type="text" name="user_jokes" min-length="5" maxlength="500"
            placeholder="Insert joke......."></textarea>
    </div>
    <button type="submit">Upload</button>
</form>

<hr>
<div class="upload-content">
    <div class="row">
        {% for user_jokes in user.user_jokes  %}
        <div class="col-md-3">
            <div class="card jokes">
                <p>{{user_jokes}}</p>
                <p><em>by {{user.username}}</em></p>
                <div class="card-body">
                    <a href="#" class="card-link">LIKE</a>
                    <a href="#" class="card-link">Comment?</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<p>Leprecorn is not happy! You can't add a video here, go to your own profile!</p>
<p><a href="{{url_for('profile', username=username)}}">Back to {{username}} Profile</a></p>
{% endif %}
{% endblock %}