{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}

<div class="container">
    <div class="videos-header">
    <h3 class="text-center">Videos</h3>
    <h4 class ="text-center">St Patricks Day Videos</h4>
</div>
    <div class="row  upload_content">
        {% for video in videos %}
        <div class="col-md-4">
            <div class="card">
                <video controls>
                    <source src="{{ video.video_url }}" type="video/mp4">
                </video>
                <div class="cardbody">  
                    <div class="card_header">          
                        <h6 class="card-title">{{video.video_title}}</h6>
                    </div>    
                <p class="card-text">{{video.video_description}}</p>
                <p class="card-text">{{video.date}}</p>
                <p class="card-text"><em>by <a href="{{url_for('profile', username= video.author )}}">{{video.author}}</a></em></p>
                </div>   
                <div class="likes-wrapper cardbody">
                    
                    <a href="{{ url_for('video_like', video_id=video._id) }}" class="like-score">
                        <i class="rating fas fa-thumbs-up"></i><span class="score-likes">
                            {{ video.likes }}</span></a>
                    <a href="{{ url_for('video_dislike', video_id=video._id) }}" class="dislike-score">
                        <i class="rating fas fa-thumbs-down"></i><span class="score-dislikes">
                            {{ video.dislikes }}</span></a>
                </div>
            </div>
        </div>    

        {% endfor %}
    </div>
</div>

{% endblock %}